<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1604975701397-6365ccbd028a?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
  <div class="container">
    <h1>Wacth Lists</h1>
    <p>"The secret to Endless Entertainment"</p>
  <%= link_to 'Add List', new_list_path, class: 'btn-primary' %>
  </div>
</div>
 <div class="container">
 <h2>My List</h2>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579702493440-8b1b56d47e03?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        <%= link_to list.name, list %>
      </div>
    <% end %>
  </div>
</div>
