.btn-primary{
  background-color: white;
  color:red;
  padding: 8px 24px;
  border-radius: 8px;
  text-decoration: none ;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 20px;
}

.btn-primary:hover{
  background-color: gray;
 }
